
body {
    background: black;
    overflow: hidden;
}

.container-nav {
    background: rgb(78, 78, 78);
    margin-bottom: 10px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    background: rgba(128, 128, 128, 0.1);
}

.nav-link:active {
    background: rgba(128, 128, 128, 0.5);
}

.icon-x:hover {
    background: red;
}

.container-audioPlayer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background: rgb(58, 58, 58);
    font-size: 40px;
    padding: 10px;
}

.icon-audio {
    margin: 0 30px;
}

button {
    background: none;
    border: none;
    color: white;
}

button:hover {
    background: rgba(70, 70, 70, 0.4);
}

button:active {
    background: rgba(128, 128, 128, 0.3);
}

.song {
    display: flex;
    padding: 15px 30px;
    border-bottom: rgba(150, 150, 150, 0.5) 1px solid;
}

.song:hover {
    background: rgba(128, 128, 128, 0.3);
}

.song:active {
    background: rgba(150, 150, 150, 0.5);
}

.songNumber {
    color: rgb(170, 170, 170);
}

.songName {
    margin-left: 40px;
}

.container-songs {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85vh;
}